<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Example Test Suite" thread-count="1">
    <test name="Example 200 Test">
        <classes>
            <class name="com.knight.example.tests.Example200StatusCodeTest" />
        </classes>
    </test>
    <test name="Example 301 Test">
        <classes>
            <class name="com.knight.example.tests.Example301StatusCodeTest" />
        </classes>
    </test>
    <test name="Example 404 Test">
        <classes>
            <class name="com.knight.example.tests.Example404StatusCodeTest" />
        </classes>
    </test>
    <test name="Example 500 Test">
        <classes>
            <class name="com.knight.example.tests.Example500StatusCodeTest" />
        </classes>
    </test>
    <test name="Example Status Code Test">
        <classes>
            <class name="com.knight.example.tests.ExampleStatusCodeTest" />
        </classes>
    </test>
</suite>
